@model IEnumerable<Livraria.Models.Locacao>

<h2>Lista de todas Locações</h2>

<p>
    <button class="btn btn-link create" style="margin-left:-1%;">Inserir nova locação</button>|
    @Html.ActionLink("Lista de todas locações", "Index") |
    @Html.ActionLink("Lista de locações em aberto", "ListaAlugados") |
    @Html.ActionLink("Lista de locações entregues", "ListaEntregues")
</p>

@using (Html.BeginForm("BuscarPorNome", "Locacao", FormMethod.Post))
{
    <div class="form-horizontal">
        <div class="row">
            <div class="col-md-9">
                <input type="text" placeholder="Buscar locação por nome do cliente ou livro" name="CPBusca" class="form-control" />
            </div>
            <div class="col-md-3 text-right">
                <input type="submit" value="Buscar" class="btn btn-primary" />
                <a href="Index" class="btn btn-info">Todos</a>
            </div>
        </div>
    </div>
    <br />
}

<table class="table">
    <tr style="font-size:125%;">
        <th> @Html.DisplayNameFor(model => model.NomeCliente)</th>
        <th>@Html.DisplayNameFor(model => model.NomeLivro)</th>
        <th>@Html.DisplayNameFor(model => model.Data)</th>
        <th>@Html.DisplayNameFor(model => model.Preco)</th>
        <th>Ações</th>
    </tr>

    @if (Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            <tr>
                <td style="vertical-align: middle;">@Html.DisplayFor(modelItem => item.NomeCliente)</td>
                <td style="vertical-align: middle;">@Html.DisplayFor(modelItem => item.NomeLivro)</td>
                <td style="vertical-align: middle;">@Html.DisplayFor(modelItem => item.Data)</td>
                <td style="vertical-align: middle;">R$ @String.Format("{0:n}", item.Preco)</td>

                <td style="vertical-align: middle;" class="text-right">
                    <button class="btn btn-primary details" data-id="@item.Id">Detalhes</button>

                    @{
                        var dataE = item.Entrega;
                        DateTime dataInv = Convert.ToDateTime("01/01/0001 00:00:00");
                        int status = DateTime.Compare(dataE, dataInv);

                        if (!Convert.ToBoolean(status))
                        {
                            <button class="btn btn-success finalizar" data-id="@item.Id">Finalizar</button>
                        }
                    }

                    @if (Int32.Parse(Session["Priv"].ToString()) == 1)
                    {
                        <button class="btn btn-danger delete" data-id="@item.Id">Apagar</button>
                    }
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="5">
                <br />
                <center><span class="text-uppercase">Não existe nenhum registro para ser listado!</span></center>
            </td>
        </tr>
    }
</table>

<div id="modal" class="modal fade" role="dialog"></div>

<script>
    $(function () {
        $(".details").click(function () {
            var id = $(this).attr("data-id");
            $("#modal").load("Details?id=" + id, function () {
                $("#modal").modal();
            })
        });
        $(".finalizar").click(function () {
            var id = $(this).attr("data-id");
            $("#modal").load("Finalizar?id=" + id, function () {
                $("#modal").modal();
            })
        });
        $(".delete").click(function () {
            var id = $(this).attr("data-id");
            $("#modal").load("Delete?id=" + id, function () {
                $("#modal").modal();
            })
        });
        $(".create").click(function () {
            $("#modal").load("Create", function () {
                $("#modal").modal();
            })
        });
    })
</script>